<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 5%;">
    <a class="navbar-brand" href="#">
        <img src="./assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        MySalon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%;justify-content: end;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <button class="btn btn-outline-primary">
                    Appointment
                </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
                <button class="btn btn-outline-primary">
                    Cart
                </button>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">
                <button class="btn btn-outline-primary">
                    Profile
                </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
                <button class="btn btn-outline-primary">
                    Location
                </button>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="#">
                <button class="btn btn-primary">
                    Login
                </button>
            </a>
          </li>
      </ul>
    </div>
  </nav>