<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 5%;">
    <a class="navbar-brand" href="#" (click)="onHome()">
        <img src="./assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        MySalon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%;justify-content: end;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" (click)="onAppointment()">
                    Appointment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="onCart()">
                Cart
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active"  (click)="onProfile()">
                    Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="onLocation()">
                    Location
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" (click)="onLogin()" style="background-color: rgb(76, 76, 131); color: aliceblue;">
                    Login
            </a>
          </li>
      </ul>
    </div>
  </nav>