<div id="card-style" class="card mb-3" style="max-width: 70%;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
            <h1>₹100</h1>
          <h5 id="card-title" class="card-title">SERVICE: HAIRCUT-MEN</h5>
          <p class="card-text">DATE: 10/12/21</p>
          <p class="card-text">TIME: 2:00PM</p>
          <p class="card-text">SALON: CAPPIELLO SALON</p>
          <p class="card-text">LOCATION: KOTTAYAM,PALAI</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>

  <div id="card-style" class="card mb-3" style="max-width: 70%;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
            <h1>₹100</h1>
            <h5 class="card-title">SERVICE: HAIRCUT-MEN</h5>
            <p class="card-text">DATE: 10/12/21</p>
            <p class="card-text">TIME: 2:00PM</p>
            <p class="card-text">SALON: CAPPIELLO SALON</p>
            <p class="card-text">LOCATION: KOTTAYAM,PALAI</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --> -->
         </div>
      </div>
    </div>
  </div>

  <div id="card-style" class="card mb-3" style="max-width: 70%;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
            <h1>₹100</h1>
            <h5 class="card-title">SERVICE: HAIRCUT-MEN</h5>
            <p class="card-text">DATE: 10/12/21</p>
            <p class="card-text">TIME: 2:00PM</p>
            <p class="card-text">SALON: CAPPIELLO SALON</p>
            <p class="card-text">LOCATION: KOTTAYAM,PALAI</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
  

<div class="d-grid gap-2 col-6 mx-auto">
    
    <button id="checkout-btn" class="btn btn-primary" type="button">PAY &nbsp;₹3000</button>
</div>
