.col {
    color: black;
    float: left;
    width: 25%;
    padding: 10px;
    margin: 10px;
 }
 .colContainer:after {
    content: "";
    display: table;
    clear: both;
 }
 .salon-body{
    background-color:black;
    color: aliceblue;
    margin: auto;
    padding: auto;
    padding-top: 5%;
    width: 100%;
 }
 @media screen and (min-width:600px ) {
    .col {
        width: 45%;
    }
 }
 @media screen and (min-width: 900px) {
    .col {
       width: 30%;
    }
 }
 @media screen and (max-width: 600px) {
    .col {
       width: 90%;
    }
 }