<div class="Admin-header">
  <h1>Tony&Guy Admin Panel</h1>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="service-tab" data-bs-toggle="tab" data-bs-target="#service" type="button" role="tab" aria-controls="service" aria-selected="true">Service</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="appointment-tab" data-bs-toggle="tab" data-bs-target="#appointment" type="button" role="tab" aria-controls="appointment" aria-selected="false">Appointment</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false">History</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
     
      <div class="section1-flex">
        <div class="sub-section1">
      <ejs-calendar id=calendar [values]='value' [isMultiSelection]='multiSelect'  > </ejs-calendar >
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault" style="color:palevioletred;">Turn the site ON/OFF</label>
        </div>
      </div>
     
      <span class="border">
        <div class="sub-section2">
          <div class="service-header">
            <h3>Services</h3>
          </div>
          <div class="service">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault" style="color: tomato;">Hair Cutting</label>
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label" style="color: white;">Price</label>
                  <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label" style="color: white;">Offer%</label>
                  <input type="password" class="form-control" id="inputPassword4">
                </div>
              </form>
            </div>
        </div>
        <div class="service">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault" style="color: tomato;">Hair Coloring</label>
            <form class="row g-3">
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label" style="color: white;">Price</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label" style="color: white;">Offer%</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
            </form>
          </div>
        </div>
        <div class="service">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault" style="color: tomato;">Facial Treatment</label>
            <form class="row g-3">
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label" style="color: white;">Price</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label" style="color: white;">Offer%</label>
                <input type="password" class="form-control" id="inputPassword4">
              </div>
            </form>
          </div>
        </div>
        </div>
      </span>
      </div>
    </div>
    <div class="tab-pane fade" id="appointment" role="tabpanel" aria-labelledby="appointment-tab">
      <div class="Appointment-header">
        <h3>Appointment Schedule</h3>
      </div>
      <div id="card-style" class="card mb-3" style="max-width: 70%;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <div class="container1" style="color: white;">
                <h1>₹100</h1>
                <h5 class="card-title">SERVICE: HAIRCUT-MEN</h5>
                <p class="card-text">DATE: 10/12/21</p>
                <p class="card-text">TIME: 2:00PM</p>
                <p class="card-text">SALON: TONY&GUY SALON</p>
                <p class="card-text">LOCATION: KOTTAYAM,PALAI</p>
              </div>
              <div class="container2" style="font-size:30px">
                <i class="bi bi-x-circle fa-10x"></i>
                <i class="bi bi-check-circle" style="color: green;"></i>
              </div>
             </div>
          </div>
        </div>
      </div>

      <div id="card-style" class="card mb-3" style="max-width: 70%;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <div class="container1" style="color: white;">
                <h1>₹700</h1>
                <h5 class="card-title">SERVICE: HAIR-SPA</h5>
                <p class="card-text">DATE: 20/12/21</p>
                <p class="card-text">TIME: 5:00PM</p>
                <p class="card-text">SALON: TONY&GUY SALON</p>
                <p class="card-text">LOCATION: KOTTAYAM,PALAI</p>
              </div>
              <div class="container2" style="font-size:30px">
                <i class="bi bi-x-circle fa-10x"></i>
                <i class="bi bi-check-circle" style="color: green;"></i>
              </div>
             </div>
          </div>
        </div>
      </div>

      <div id="card-style" class="card mb-3" style="max-width: 70%;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <div class="container1" style="color: white;">
                <h1>₹1000</h1>
                <h5 class="card-title">SERVICE: FACIAL</h5>
                <p class="card-text">DATE: 10/12/21</p>
                <p class="card-text">TIME: 6:00PM</p>
                <p class="card-text">SALON: TONY&GUY SALON</p>
                <p class="card-text">LOCATION: KOTTAYAM,PALAI</p>
              </div>
              <div class="container2" style="font-size:30px">
                <i class="bi bi-x-circle fa-10x"></i>
                <i class="bi bi-check-circle" style="color: green;"></i>
              </div>
             </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">...</div>
  </div>
