.section1-flex{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.Admin-header{
text-align: center;
color: burlywood;
text-decoration: underline;
}
.mb-3{
    width: 90vw;
    border-radius: 10px;
;}
.service-header{
    color:palevioletred;
}
.Appointment-header{
    text-align: center;
    color: peru;
}
#card-style{
    border-color: #605959;
    background: black;
    margin-left: 14%;
    padding: 1%;
}
.bi-x-circle{
    color: red;
    margin-right: 40px;

}
.card-body{
    display: flex;
    justify-content: space-between;
}
.container2{
    display: flex;
}
.card-text{
    display: flex;
    justify-content: space-evenly;
}