
<div class="header1">
        <p>Top salon's near by you</p>
</div>
      <div class="colContainer" >
        <div class="card col">
          <img class="card-img-top" src="../../assets/img/lakme.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lakme Salon</h5>
            <p class="card-text">1500+ orders placed from here today</p>
            <div style="display: flex;justify-content: space-around;">
            </div>
          </div>
        </div>
        <div class="card col">
            <img class="card-img-top" src="../../assets/img/tony.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tony&Guy</h5>
              <p class="card-text">700+ orders placed from here today</p>

              <div style="display: flex;justify-content: space-around;">
              </div>
            </div>
          </div>
          <div class="card col">
            <img class="card-img-top" src="../../assets/img/golden.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Golden Salon</h5>
              <p class="card-text">1700+ orders placed from here today</p>

              <div style="display: flex;justify-content: space-around;">
              </div>
            </div>
          </div>
          
      </div>

    
