
<div class="header1">
        <p>Top salon's near by you</p>
</div>
<div class="colContainer" >
  <div class="card col" *ngFor="let i of n">
    <div class="card-body" (click)="onSalon(i)">
      <img class="card-img-top" src="../../assets/img/lakme.jpeg" alt="Card image cap">
      <h5 class="card-title">Lakme Salon</h5>
      <p class="card-text">1500+ orders placed from here today</p>
      <div style="display: flex;justify-content: space-around;">
      </div>
    </div>
  </div>
    
</div>

    
