/* You can add global styles to this file, and also import other style files */
body{
<<<<<<< HEAD

    background: black;
=======
>>>>>>> ee50c26f0191ee5d336180fdeb58329500f3bd2c
    background-color:black;
    margin: 0px;
}