/* You can add global styles to this file, and also import other style files */
body{
<<<<<<< HEAD
    background: black;
=======
>>>>>>> a94f60f5c824f9fcde7bd7da78e3809d64a62576
    background-color:black;
    margin: 0px;
}